// =============================================================================
// BASE STYLES
// =============================================================================

// Reset box sizing
// -----------------------------------------------------------------------------
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Page backgrounds
// -----------------------------------------------------------------------------
html {
  background: $color-grey--4;
}

body {
  background: #fff;
}