// =============================================================================
// BASE STYLES
// =============================================================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: $color-grey--4;
}

body {
  background: #fff;
}