// =============================================================================
// BASE ICONS
// =============================================================================

.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  
  fill: none;
  stroke: $text-color--standard;
  stroke-width: 1px;

// Arrow right and left icon
// -----------------------------------------------------------------------------
  &--arrow-right,
  &--arrow-left {
    height: 8px;
  }

// Arrow right bent icon
// -----------------------------------------------------------------------------
  &--arrow-right-bent {
    height: 12px;
    margin-bottom: 8px;
    margin-right: 12px;
    width: 16px;

    stroke: $text-color--subdued;
  }

// Arrow up icon
// -----------------------------------------------------------------------------
  &--arrow-up {
    height: 32px;
    width: 32px;

    stroke-width: 1.5px;
    
    @media (min-width: $breakpoint--lg) {
      height: 50px;
      width: 31px;

      stroke-width: 1px;
    }
  }
}