// =============================================================================
// BASE LINKS
// =============================================================================

.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  fill: none;
  stroke: $text-color--standard;
  stroke-width: 1px;
  vertical-align: middle;

  &--arrow-right {
    height: 8px;
  }

  &--arrow-right-bent {
    height: 12px;
    width: 16px;
    margin-bottom: 8px;
    margin-right: 12px;
    stroke: $text-color--subdued;
  }

  &--arrow-up {
    width: 32px;
    height: 32px;
    stroke-width: 1.5px;
    
    @media (min-width: $breakpoint--lg) {
      width: 31px;
      height: 50px;
      stroke-width: 1px;
    }
  }
}