// =============================================================================
// BASE LISTS
// =============================================================================

// Standard list reset
// -----------------------------------------------------------------------------
ul,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

// List styles
// -----------------------------------------------------------------------------
li {

// Content area list styles
// -----------------------------------------------------------------------------
  .content-area & {
    margin-bottom: 0;
    margin-top: 16px;

// When an li precedes an li the margin top is shorter
// -----------------------------------------------------------------------------
    + li {
      margin-top: 8px;
    }

// Li list style custom disc
// -----------------------------------------------------------------------------
    &:before {
      content: "";

      border-radius: 50%;
      display: block;
      float: left;
      height: 4px;
      margin-left: -12px;
      margin-top: 13px;
      width: 4px;
      
      background: $text-color--standard;
    }
  }
}

// Definition list styles
// -----------------------------------------------------------------------------

// Definition term and description reset
// -----------------------------------------------------------------------------
dt,
dd {
  margin: 0;
}

// Definition term preceding a definition description
// -----------------------------------------------------------------------------
dd + dt {
  margin-top: 16px;
}

// Definition description
// -----------------------------------------------------------------------------
dd {
  color: $text-color--subdued;
}