// =============================================================================
// BASE TYPOGRAPHY
// =============================================================================

// Body Typography Styles
// -----------------------------------------------------------------------------
body {
  color: $text-color--standard;
  font-family: $font-family--standard;
  font-size: 17px;
  line-height: 1.6;

  @media (min-width: $breakpoint--lg) {
    font-size: 19px;
  }

  * {
    @extend %font-smoothing;
  }
}

// Header Styles
// -----------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 32px;

// Reset margin on first child
// -----------------------------------------------------------------------------
  &:first-child {
    margin-top: 0;
  }
  
// Headers preceding another header creates a shorter margin
// -----------------------------------------------------------------------------
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: 8px;
  }
}

// H1 Styles
// -----------------------------------------------------------------------------
h1 {
  color: $brand-color--red;
  font-family: $font-family--primary-heading;
  font-size: 40px;
  line-height: 1.1;
  transition: all 400ms ease 300ms;
  
  @media (min-width: $breakpoint--sm) {
    font-size: 60px;
  }
  
  @media (min-width: $breakpoint--md) {
    font-size: 80px;
  }
  
  @media (min-width: $breakpoint--lg) {
    font-size: 112px;
    line-height: 1;
    margin-bottom: 40px;

    .home & {
      margin-bottom: 60px;
    }
  }
}

// H2 - H6 Styles
// -----------------------------------------------------------------------------
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--standard;
  font-weight: normal;
  letter-spacing: -0.5px;

  &.alt {
    font-weight: bold;
  }
}

h2 {
  font-size: 24px;
  
  @media (min-width: $breakpoint--lg) {
    font-size: 32px;
  }
}

h3 {
  font-size: 26px;
  font-weight: normal;
}

h4 {
  font-size: 22px;
  
  @media (min-width: $breakpoint--lg) {
    font-size: 24px;
  }
}

h5 {
  font-size: 19px;
  
  @media (min-width: $breakpoint--lg) {
    font-size: 22px;
  }
}

h6 {
  font-size: 18px;
  
  @media (min-width: $breakpoint--lg) {
    font-size: 20px;
  }
}

// Paragraph Styles
// -----------------------------------------------------------------------------
p {
  margin-bottom: 0;
  margin-top: 16px;

// Large paragraph - used for intros
// -----------------------------------------------------------------------------
  &.large {
    font-size: 22px;
    letter-spacing: -0.5px;
    line-height: 1.4;
    margin-bottom: 24px;

    @media (min-width: $breakpoint--md) {
      font-size: 24px;
      margin-bottom: 40px;
    }

    @media (min-width: $breakpoint--lg) {
      font-size: 32px;
      letter-spacing: -1px;
      margin-bottom: 80px;
    }
  }
}

// Misc paragraph styles
// -----------------------------------------------------------------------------
sup {
  top: -.45em;
}

strong {
  font-weight: bold;
}

// Blockquote
// -----------------------------------------------------------------------------
blockquote {
  border-left: 3px solid $color-grey--12;
  margin: 16px 0 0;
  padding-left: 16px;
}

// Horizontal Rule
// -----------------------------------------------------------------------------
hr {
  border: none;
  height: 2px;
  width: 100%;

  background: $color-grey--4;
}
