// =============================================================================
// ABOUT PAGE
// =============================================================================

.about {

// About page title
// -----------------------------------------------------------------------------
  &__title {
    position: relative;
    z-index: $z-index--title;

    @media (min-width: $breakpoint--md) {
      float: left;
      padding-top: 100px;
      width: 460px;
    }

    @media (min-width: $breakpoint--lg) {
      width: 650px;
      
      font-size: 112px;
    }
  }

// About page banner
// -----------------------------------------------------------------------------
  &__banner {
    margin-top: $margin-standard--sm;

    @media (min-width: $breakpoint--xs) {
      margin-top: $margin-standard--md;
    }

    @media (min-width: $breakpoint--sm) {
      margin-top: $margin-standard--lg;
    }

    @media (min-width: $breakpoint--md) {
      margin-top: 0;
    }
  }
}