// =============================================================================
// ARTICLE LINK COMPONENT
// =============================================================================

.article-link {
  border: none;
  display: flex;
  margin: 32px 0;

  @media (min-width: $breakpoint--sm) {
    margin: 48px 0;
  }

// Article thumbnail
// -----------------------------------------------------------------------------
  &__thumb {
    border: 1px solid $border-color--standard;
    display: block;
    flex: 0 0 80px;
    height: 80px;
    margin-right: 24px;
    width: 80px;

    @media (min-width: $breakpoint--sm) {
      flex: 0 0 180px;
      height: 180px;
      width: 180px;
    }

    @media (min-width: $breakpoint--lg) {
      flex: 0 0 220px;
      height: 220px;
      width: 220px;
    }

    img {
      width: 100%;
    }
  }

// Article content detail
// -----------------------------------------------------------------------------
  &__content {
    @media (min-width: $breakpoint--sm) {
      display: flex;
      flex-direction: column;
    }
  }

// Article description
// -----------------------------------------------------------------------------
  &__description {
    display: none; // Hide on small screens
    flex: 1 1 100%;

    @media (min-width: $breakpoint--sm) {
      display: block;
    }
  }

// Article call to action
// -----------------------------------------------------------------------------
  &__cta {
    border-bottom: 2px solid $link-color;
    display: inline;
    transition:
      color 300ms ease,
      border 300ms ease;

    @media (min-width: $breakpoint--sm) {
      align-self: flex-start;
      flex: 0 0 16px;
    }

// Case study specific link color
// -----------------------------------------------------------------------------
    @each $color-name, $color-value in $project-colors {
      .case-study--#{$color-name} & {
        border-color: $color-value;
      }
    }
  }

// Hovering over a case study tile chances the link color
// -----------------------------------------------------------------------------
  .case-study &:hover,
  .case-study &:active,
  .case-study &:focus {
    .article-link__cta {
      border-color: $link-color--hover;
    }
  }
}