// =============================================================================
// HEADER COMPONENT
// =============================================================================

.header {
  padding: $margin-standard--sm;

  @media (min-width: $breakpoint--xs) {
    padding: $margin-standard--md;
  }

  @media (min-width: $breakpoint--sm) {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
  }
  
// Header home link
// -----------------------------------------------------------------------------
  &__home-link {
    @media (min-width: $breakpoint--sm) {
      flex: 0 0 200px;
    }

    @media (min-width: $breakpoint--md) {
      position: fixed;
      z-index: $z-index--header;
    }
  }

// Header nav
// -----------------------------------------------------------------------------
  &__nav {
    border-bottom: 1px solid $border-color--standard;
    padding-top: 12px;

    @media (min-width: $breakpoint--sm) {
      border: none;
      margin-left: 0;
      padding-top: 0;

      text-align: right;
    }

    @media (min-width: $breakpoint--md) {
      position: fixed;
      top: $margin-standard--md;
      right: $margin-standard--md;
      z-index: $z-index--header;
    }
  }
}