// =============================================================================
// HEADER COMPONENT
// =============================================================================

.header {
  padding: $margin-standard--sm;

  @media (min-width: $breakpoint--xs) {
    padding: $margin-standard--md;
  }

  @media (min-width: $breakpoint--sm) {
    height: 100px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $breakpoint--md) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: $z-index--header;
  }

  &__home-link {
    @media (min-width: $breakpoint--sm) {
      flex: 0 0 200px;
    }
  }

  &__nav {
    border-bottom: 1px solid $border-color--standard;
    padding-top: 12px;

    @media (min-width: $breakpoint--sm) {
      padding-top: 0;
      border: none;
      margin-left: 0;
      flex: 1 1 80%;
      text-align: right;
    }
  }
}