// =============================================================================
// LOGO COMPONENT
// =============================================================================

.logo {
  border: none;
  display: block;
  vertical-align: middle;
  line-height: 32px;

  &__svg {
    float: left;
    height: 32px;
    margin-right: 16px;
    stroke: none;
    vertical-align: middle;
    width: 32px;
    
    pointer-events: none;
    fill: #FF4B38;
    transition: all 400ms ease 300ms;

    @media (min-width: $breakpoint--md) {
      width: 44px;
      height: 44px;
    }

    @each $color-name, $color-value in $project-colors {
      .case-study--#{$color-name} & {
        fill: $color-value;
      }
    }
  }
}