// =============================================================================
// PRIMARY NAVIGATION COMPONENT
// =============================================================================

.primary-nav {

// Primary navigation item
// -----------------------------------------------------------------------------
  &__item {
    display: inline-block;
  }

// Primary navigation link
// -----------------------------------------------------------------------------
  &__link {
    border: none;
    display: block;
    margin-right: 24px;
    padding: 8px 0 8px;

    @media (min-width: $breakpoint--sm) {
      margin-left: 40px;
      margin-right: 0;
      padding: 0;
    }

    &:hover {
      color: $brand-color--red;
    }

    @each $color-name, $color-value in $project-colors {
      .case-study--#{$color-name} & {
        &:hover {
          color: $color-value !important;
        }
      }
    }
  }
}

// Active colours based on page wrapper
// -----------------------------------------------------------------------------
// @todo: Make this less ugly. Create active class.
// -----------------------------------------------------------------------------
.about .about,
.projects .projects {
  color: $brand-color--red;
}

// Case study specific active color
// -----------------------------------------------------------------------------
@each $color-name, $color-value in $project-colors {
  .case-study--#{$color-name} .projects {
    color: $color-value !important;
  }
}