// =============================================================================
// SOCIAL NAVIGATION COMPONENT
// =============================================================================

.social-nav {
  margin-top: $margin-standard--sm;

  @media (min-width: $breakpoint--md) {
    margin-top: $margin-standard--lg;
  }

// Social navigation item
// -----------------------------------------------------------------------------
  &__item {
    display: inline-block;
  }

// Social navigation link
// -----------------------------------------------------------------------------
  &__link {
    margin-right: 12px;
    
    @media (min-width: $breakpoint--xs) {
      margin-right: 16px;
    }
    
    @media (min-width: $breakpoint--sm) {
      margin-right: 24px;
    }
  }
}