// =============================================================================
// RESUME COMPONENT
// =============================================================================

.resume {
  position: relative;

// Resume header
// -----------------------------------------------------------------------------
  &__header {
    position: relative;

    padding-bottom: $margin-standard--xs * .5;
    padding-top: $margin-standard--xs;

    @media (min-width: $breakpoint--sm) {
      padding-bottom: $margin-standard--sm * .5;
      padding-top: $margin-standard--sm;
    }

    @media (min-width: $breakpoint--md) {
      padding-bottom: $margin-standard--md * .5;
      padding-top: $margin-standard--md;
    }

    @media (min-width: $breakpoint--lg) {
      padding-bottom: $margin-standard--lg * .5;
      padding-top: $margin-standard--lg;
    }
  }

// Resume item
// -----------------------------------------------------------------------------
  &__item {
    clear: both;
    padding-bottom: $margin-standard--xs;
    padding-top: $margin-standard--xs;

    @media (min-width: $breakpoint--sm) {
      padding-bottom: $margin-standard--sm;
      padding-top: $margin-standard--sm;
    }

    @media (min-width: $breakpoint--md) {
      padding-bottom: $margin-standard--md;
      padding-top: $margin-standard--md;
    }

    @media (min-width: $breakpoint--lg) {
      padding-bottom: $margin-standard--lg;
      padding-top: $margin-standard--lg;
    }

// Resume item border
// -----------------------------------------------------------------------------
    &:before,
    &:last-child:after {
      position: absolute;
      left: 0;
      right: 0;

      display: block;
      height: 1px;

      background: $border-color--standard;
      content: '';
    }

// Resume item border margin
// -----------------------------------------------------------------------------
    &:before {
      margin-top: -$margin-standard--xs;

      @media (min-width: $breakpoint--sm) {
        margin-top: -$margin-standard--sm;
      }

      @media (min-width: $breakpoint--md) {
        margin-top: -$margin-standard--md;
      }

      @media (min-width: $breakpoint--lg) {
        margin-top: -$margin-standard--lg;
      }
    }

// Last resume item border margin
// -----------------------------------------------------------------------------
    &:last-child:after {
      margin-top: $margin-standard--xs;

      @media (min-width: $breakpoint--sm) {
        margin-top: $margin-standard--sm;
      }

      @media (min-width: $breakpoint--md) {
        margin-top: $margin-standard--md;
      }

      @media (min-width: $breakpoint--lg) {
        margin-top: $margin-standard--lg;
      }
    }
  }

// Resume link
// -----------------------------------------------------------------------------
  &__link {

    @media (min-width: $breakpoint--sm) {
      position: absolute;
      right: 0;
      top: $margin-standard--sm;
    }

    @media (min-width: $breakpoint--md) {
      top: $margin-standard--md;
    }

    @media (min-width: $breakpoint--lg) {
      top: $margin-standard--lg;
    }
  }

// Resume date
// -----------------------------------------------------------------------------
  &__date {
    @media (min-width: $breakpoint--md) {
      position: absolute;
      left: 0;

      line-height: 36px;
    }

    @media (min-width: $breakpoint--lg) {
      line-height: 36px;
    }
  }

// Resume title
// -----------------------------------------------------------------------------
  &__title {
    @media (min-width: $breakpoint--md) {
      margin-top: 0;
    }
  }
}