// =============================================================================
// SIGN UP COMPONENT
// =============================================================================
// @todo: add this component from holding page to broccoliwilson.com
// -----------------------------------------------------------------------------

.sign-up {

  @media (min-width: $breakpoint--sm) {
    display: flex;
    justify-content: space-between;
    margin-left: -$margin-standard--sm;
    margin-top: $margin-standard--sm;
  }

// All elements inside signup component
// -----------------------------------------------------------------------------
  * {
    margin-top: $margin-standard--xs;
    width: 100%;

    text-align: left;

    @media (min-width: $breakpoint--sm) {
      flex: 1 1 (2/5 * 100%);
      margin-left: $margin-standard--sm;
      margin-top: 0;
    }
  }

// Button
// -----------------------------------------------------------------------------
  button {
    @media (min-width: $breakpoint--sm) {
      flex: 1 1 (1/5 * 100%);
      white-space: nowrap;
    }
  }
}