extends _layout

block append vars
  - bodyclass = 'home'

block header
  header.main__header
    .grid
      .grid__item.grid__item--4
        h1 Hey, I’m
          br
          | Annie&nbsp;Wilson.
        p I'm a Product Designer with over nine years experience designing beautiful product experiences—leading products through user research, concept development, prototyping, branding, visual design and front-end development. I have a keen interest in emerging technologies and the role great design plays in everyday life.

        p
          a(href='/about') Learn a bit more about me
            svg.icon.icon--arrow-right(role='img', aria-labelledby='title')
              title Arrow right icon
              use(xlink:href='#icon--arrow-right')

block content
  include _partials/projects-list