extends _layout

block append vars
  - bodyclass = 'projects'

block prepend title
  | #{ page.title + ' - '}

block header
  header.main__header
    h1= page.title

block content
  include _partials/projects-list